{% extends 'layout.html' %}

{% block title %}
    <title>Show Pathologies</title>
{% endblock %}

{% block body %}
<h3>Les médicament</h3>
<a class="btn btn-primary" href="/medicament/add">Ajouter médicament</a>
<br><br>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Id Medicament</th><th>Code CIS</th><th>Dénomination</th><th>Forme pharmaceutique</th><th>Etat Commercialisation</th><th>StatutBDM</th><th>Num UE Autorisation</th><th>Titulaire</th><th>Surveillance</th><th>Date</th><th>Procédure</th><th>Statut administartion</th><th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% if medicament | length >= 1 %}
        {% for ligne in medicament %}
           <tr>
                  <td>{{ ligne.idMed }}</td>
                  <td>{{ ligne.codeCIS }}</td>
                  <td>{{ ligne.denomination }}</td>
                  <td>{{ ligne.formePharama }}</td>
                  <td>{{ ligne.etatCommercialisation }}</td>
                  <td>{{ ligne.statutBDM }}</td>
                  <td>{{ ligne.numUEAutorisation }}</td>
                  <td>{{ ligne.titulaire }}</td>
                  <td>{{ ligne.surveillance }}</td>
                  <td>{{ ligne.JJ_MM_AAAA }}</td>
                  <td>{{ ligne.Proced }}</td>
                  <td>{{ ligne.StatutAdmin }}</td>
                  <td>
                      <a class="btn btn-success" href="/medicament/edit?idMed={{ ligne.idMed }}&amp;param2={{ligne.denomination}}">Editer</a>&nbsp;
                      <a class="btn btn-danger" href="/medicament/delete?idMed={{ ligne.idMed }}" >Supprimer</a>
                  </td>
           </tr>
        {% endfor %}
    {% else %}
            <tr>
                  <td>
                      Il y a aucune medicament enregistrer. Vous pouvez dès à présent en ajouter une en cliquant sur le bouton "Ajouter médicament".
                  </td>
           </tr>
    {% endif %}
    </tbody>
</table>
{% endblock %}