/* Restriction sur la taille du logo dans la navbar*/
.logo {
    max-width: 150px;
    max-height: 40px;
}

/* Couleur du fond de la navbar*/
.bg-green {
    background-color: #218283;
}

/* mise en page à l'interieur de la nav bar afin de mettre tous à gauche le chaps recherhce*/
.navbar .navbar-collapse form {
    margin-left: auto;
}

/*mis een page de la data viz*/
#myChart, #aPie{
    max-width: 1000px;
    max-height: 750px;
    margin:auto;
}
#danger{
    background-color: rgba(234, 67, 67, 0.82);
    color: #700202;
    font-weight: bold;
}
small{
    color:rgba(234, 67, 67, 0.82);
}
