/* Restriction sur la taille du logo dans la navbar*/
.logo {
    max-width: 150px;
    max-height: 40px;
}

/* Couleur du fond de la navbar*/
.bg-green {
    background-color: #218283;
}

/* mise en page à l'interieur de la nav bar afin de mettre tous à gauche le chaps recherhce*/
.navbar .navbar-collapse form {
    margin-left: auto;
}

/*mis een page de la data viz*/
#myChart{
    max-width: 1000px;
    max-height: 500px;
    margin:auto;
}