{% extends 'layout.html' %}


{% block javascripts %}
    {{ super() }}
{% endblock %}

{% block javascripts_head %}
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block title %}
    <title>visualisation de données</title>
{% endblock %}

{% block body %}
        <h4>Vous trouverez ci-dessous (a compléter...)) : </h4>
        <canvas id="myChart" width="300" height="200"></canvas><br>
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Nom Patient</th>
                    <th>Prénom Patient</th>
                    <th>Indice de Pathologie</th>
                </tr>
            </thead>
            <tbody>
                {% if data_indice | length >= 1 %}
                    {% for ligne in data_indice %}
                        <tr>
                            <td>{{ ligne.nom }}</td>
                            <td>{{ ligne.prenom }}</td>
                            <td>{{ ligne.CALCUL }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>
                            Il y a un problème et ce message d'erreur est à modifier
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        <script type="text/javascript">
          const labels = {{ labels_categorie_pathologie|safe }};
          const values = {{ values_categorie_pathologie|safe }};
          const colors = ["#3e95cd", "#8e5ea2","#3cba9f","#FE9920","#D81E5B"];
          var ctx = document.getElementById('myChart').getContext('2d');
          var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
              labels: labels,
              datasets: [{
                data: values,
                backgroundColor: colors,
                label: 'Nombre de pathologies par catégorie'
              }]
            },
            options: {
              responsive: true
            }
          });
        </script>

{% endblock %}